/*
 * ---------------
 * | Design grid |
 * ---------------
 *
 * author: Daniele Capuano
 *
 */

@import "compass";
@import "dg-config";
@import "dg-vars";
@import "dg-mixins";
@import "dg-functions";

.dg-row:after {
  content: "";
  display: table;
  clear: both;
}

*, *:after, *:before {
  @include box-sizing(border-box);
}

.dg-grid {
    width: 100%;
    height: 100%;
    min-height: 600px;
    position: absolute;
    font-size: 0.6em;

    &-debug {
        @extend .dg-grid;

        @if ($is-debug == true) {
            display: block;
        }
        @else {
            display: none;
        }
        z-index: 100000000;

        & [class*='col-'] {
            height: 100%;
            border: 1px solid black;
        }
    }
}

////////////////////////
// DO BUILD THE GRID
////////////////////////
//for each maxWidth key in the gridConfig variable, the configuration is used to build a grid which
//respect the specific responsive max-width configuration (see the dg-config partial)
@each $maxWidth in map-keys($gridConfig) {
    @if ($maxWidth == "default") {
        @include gridSystemRules(map-get($gridConfig, $maxWidth), $maxWidth);
    }
    @else {
        @media screen and (#{$maxWidth}) {
            @include gridSystemRules(map-get($gridConfig, $maxWidth), $maxWidth);
        }
    }
}
